@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
  max-width: 100%;
}


* {
  margin: 0;
  padding: 0;
}

.msg {
  @apply bg-[#CCE1F7] w-[70%] sm:w-[60%] md:w-[50%]
}
.msg h1 {
  @apply text-[#0E3172] font-bold text-[2vw] lg:text-sm
}
.msg p {
  @apply text-[1.4vw] md:text-[1.1vw]
}